
/* --------- SIMPLE GRID -------------- */

.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    padding: 0;
    max-width: 980px;
    min-width: 320px;
}

.row {
    display:flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.col-1  { max-width: calc(100% / 12 * 1); }
.col-2  { max-width: calc(100% / 12 * 2); }
.col-3  { max-width: calc(100% / 12 * 3); }
.col-4  { max-width: calc(100% / 12 * 4); }
.col-5  { max-width: calc(100% / 12 * 5); }
.col-6  { max-width: calc(100% / 12 * 6); }
.col-7  { max-width: calc(100% / 12 * 7); }
.col-8  { max-width: calc(100% / 12 * 8); }
.col-9  { max-width: calc(100% / 12 * 9); }
.col-10 { max-width: calc(100% / 12 * 10); }
.col-11 { max-width: calc(100% / 12 * 11); }
.col-12 { max-width: calc(100% / 12 * 12); }

@media screen and (max-width: 768px) {
    .container {
        overflow: auto;
    }
    .col {
        min-width: 100%;
        width: 100%;
    }
}

/* --------- STYLE -------------- */
body {
    font-size: 0.9rem;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    background: #dddddd;
}

article {
    text-align: left;
}

header {
    margin-right: auto;
    margin-left: auto;
}

h1, h3 {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: orangered;
}

h3 {
    margin: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
}

.mt {
    font-family: 'Material Icons';
    color: orangered;
    direction: ltr;
}
.mt-g {
    font-family: 'Material Icons';
    color: darkgrey;
    direction: ltr;
}

dl#my-skills > dt {
    min-width: 6rem;
    clear: both;
}
dl#my-skills > dt b {
    display: block;
    border: 1px dashed;
    min-width: 17rem;
    padding: 0.2rem;
}
dl#my-skills > dt, dl#my-skills > dd {
    float: left;
}

/* ----------- NAVIGATION ----------- */
nav {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: orangered;
}

nav a {
    display: inline-block;
    margin: 0.2rem;
    vertical-align: middle;
}

/* ----------- TABLE ----------- */
table {
    width: 100%;
    border-collapse:collapse;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th {
    font-weight: normal;
    background: #dddddd;
    padding: 0.5rem;
    border-style: solid;
    border-color: #ffff;
    border-width: 0 1px 1px 0;
}

tbody th {
    text-align: left;
    white-space: nowrap;
}

tbody td,
tfoot td {
    text-align:center;
    padding: 0 0.2rem;
}

td {
    border: 1px dashed white;

}

tfoot th, tfoot td {
    background: #d7e1c5;
    font-weight:bold;
}


tr:hover{
    background-color: yellow;
}

/* -------- HELPERS --------------*/
.ws {
    white-space: nowrap;
}